body {
  background: rgba(189, 185, 185, 0.467);
}

.form-control {
  width: 350px;
}

/* kategori */
.img-categori {
  width: 100px;
}

.img-categori:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.row-container {
  background-color: white;
  margin: 0px;
}
/* close kategori */
.card:hover {
  border: 1px solid black;
}
/* card */
